<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
      /* Add your custom styles here */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f3f8fb;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #1F2A40;
        color: #cbb269;
        padding: 20px;
        text-align: center;
        border-radius: 8px 8px 0 0;
      }
      .content {
        padding: 20px;
        color: #333333;
      }
      p {
        margin-bottom: 15px;
        line-height: 1.5;
      }
      .otp {
        background-color: #1F2A40;
        color: #cbb269;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
      }
      .footer {
        text-align: center;
        margin-top: 20px;
        color: #666666;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Hello <%= @user.full_name %>! You've Received an OTP</h1>
      </div>
      <div class="content">
        <p>Here's your One-Time Passcode (OTP) for login:</p>
        <p class="otp"><%= @user.otp %></p>
        <p>Please securely store and use this code to authenticate your login. Treat it with the utmost confidentiality.</p>
      </div>
      <div class="footer">
        <p>Thank You!</p>
      </div>
    </div>
  </body>
</html>
